* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont {
  background-color: #dfe6e9;
  padding: 15px;
  border-radius: 0px 25px;
  border: 1px solid black;
}

.results-container {
  height: auto;
  margin-top: 30px;
  display: grid;
  place-items: center center;
  grid-template-columns: auto auto auto;
  padding: 15px 6px;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
 
}
.close-btn {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  align-self: flex-end;
}
.close-btn:hover{
  color: red;
}
.card1{
  box-shadow: 0px 0px 15px lightslategray;
  transition: 0.2s ease-in-out;
}
.card1:hover{
  box-shadow: 0px 0px 20px rgb(54, 134, 214);
}
